<div class="row" *ngIf="member">
  <div class="col-4">
    <div class="card">
      <img
        [src]="member.photoUrl || 'assets/user.png'"
        [alt]="member.knownAs"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div>
          <strong>location: </strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>age: </strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>last active: </strong>
          <p>{{ member.lastActive }}</p>
        </div>
        <div>
          <strong>member since: </strong>
          <p>{{ member.created }}</p>
        </div>

        <div class="card-footer">
          <div class="btn-group d-flex">
            <a class="btn btn-info btn-sm" role="button">like</a>
            <a class="btn btn-success btn-sm" role="button">messages</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <mat-tab-group>
      <mat-tab [label]="'about ' + member.knownAs">
        <h4>description</h4>
        <p>{{ member.introduction }}</p>
        <h4>looking for</h4>
        <p>{{ member.lookingFor }}</p>
      </mat-tab>
      <mat-tab label="interest">
        <h4>interest</h4>
        <p>{{ member.interests }}</p>
      </mat-tab>

      <mat-tab label="photos">
        <ngx-gallery
          [options]="galleryOptions"
          [images]="galleryImages"
          class="ngx-gallery"
        ></ngx-gallery>
      </mat-tab>

      <mat-tab label="messages">
        <p>messages will be here</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
