<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && signUp()"
  autocomplete="off"
>
  <h1 class="text center findMatch text-primary">sign up</h1>
  <hr />
  <!-- <div class="text-center mb-4">
    <p>come on in find your matches all you need to do is to sign up!</p>
  </div> -->

  <p style="margin-right: 10px; text-align: center">I am a:</p>

  <div class="mb-3 custom-radio">
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
      />male
    </label>
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input ms-3"
        value="female"
        formControlName="gender"
      />female
    </label>
  </div>
  <app-text-input
    [label]="'userName'"
    [type]="'text'"
    [formControl]="$any(registerForm.controls['userName'])"
  ></app-text-input>
  <app-text-input
    [label]="'city'"
    [type]="'text'"
    [formControl]="$any(registerForm.controls['city'])"
  ></app-text-input>
  <app-text-input
    [label]="'country'"
    [type]="'text'"
    [formControl]="$any(registerForm.controls['country'])"
  ></app-text-input>
  <app-date-picker
    [label]="'date of birth'"
    [max]="maxDate"
    [type]="'date'"
    style="width: 100%"
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
  ></app-date-picker>
  <app-text-input
    [label]="'known as'"
    [type]="'text'"
    [formControl]="$any(registerForm.controls['knownAs'])"
  ></app-text-input>

  <app-text-input
    [label]="'password'"
    [type]="'password'"
    [formControl]="$any(registerForm.controls['password'])"
  ></app-text-input
  ><app-text-input
    [label]="'confirm Password'"
    [type]="'password'"
    [formControl]="$any(registerForm.controls['confirmPassword'])"
  ></app-text-input>

  <!-- <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{ error }}
      </li>
    </ul>
  </div> -->

  <div class="text-center form-group">
    <button
      class="btn btn-primary text-center mr-2"
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Sign up
    </button>
    <button
      class="btn btn-defualt text-center mr-2"
      (click)="cancel()"
      type="submit"
    >
      cancel
    </button>
  </div>
</form>
