<div class="text-center mt-3">
  <h2>
    {{ Predicate == "Liked" ? "members I like" : "members who likes me " }}
  </h2>
</div>

<div class="container-fluid mt-3">
  <div class="d-flex">
    <div class="btn-group">
      <button
        type="button"
        name="Predicate"
        class="btn btn-primary"
        [(ngModel)]="Predicate"
        btnRadio="Liked"
        (click)="getLikes()"
      >
        Members I Like
      </button>
      <button
        type="button"
        class="btn btn-info"
        name="Predicate"
        [(ngModel)]="Predicate"
        btnRadio="LikedBy"
        (click)="getLikes()"
      >
        Members Likes me
      </button>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-2 col-md-4 col-sm-4" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.pageSize"
    [maxSize]="10"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
