<div class="card">
  <div class="card-body">
    <div
      #scrollMe
      style="overflow: scroll; height: 535px"
      [scrollTop]="scrollMe.scrollHeight"
      *ngIf="(MessagesService.messagesThread$ | async)?.length === 0"
      class="text-center"
    >
      no messages here
    </div>
    <ul
      class="chat"
      *ngIf="(MessagesService.messagesThread$ | async)!.length > 0"
    >
      <li *ngFor="let message of MessagesService.messagesThread$ | async">
        <div>
          <span class="chat-img float-end">
            <img
              [src]="message.senderPhotoUrl || 'assets/user.png'"
              alt="Sender photo"
              class="rounded-circle"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <fa-icon [icon]="faClock">{{
                  message.messageReadDate | dateAgo
                }}</fa-icon>
                <span
                  class="text-warning"
                  *ngIf="
                    !message.messageReadDate &&
                    message.senderUserName !== userName
                  "
                  >(unread)</span
                >
                <span
                  class="text-success"
                  *ngIf="
                    message.messageReadDate &&
                    message.senderUserName !== userName
                  "
                  >(read {{ message.messageReadDate | dateAgo }})</span
                >
              </small>
            </div>
          </div>
          <p>{{ message.content }}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #formChat="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <input
          type="text"
          class="form-control me-2 input-sm"
          placeholder="send a private message"
          required
          name="messageContent"
          [(ngModel)]="messageContent"
        />
        <div class="input-group-append">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!formChat.valid && flag"
          >
            send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
